{% extends "base.html" %}
{% load static from staticfiles %}

{%block header %}
    <div class="container">
      <div class="jumbotron">
        <!--h1>Hello, world!</h1-->
        <p>In-silico prediction of gene function.</p>
        <p>For protein-coding and lncRNA human genes.</p>
        <!--p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p-->
      </div>
    </div>
{%endblock%}

{% block main %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
		<h2>Search by gene</h2>
		<form action="" method="post">	
		    {% csrf_token %}
		    <table>
			<tr>
				<td>
				    {{form.as_p}}
				</td>
				<td>
					<p>
					    <input type="submit" value="Search">
					</p>
				</td>
			</tr>
  		    </table>
		</form>
		<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
		{{ form.media }}
		<script type="text/javascript">
			$('.errorlist').hide()
		</script>
		<style>
		.ms-container{
			width: 100%;
			/*height: 1000px;*/
		}
		</style>
		<p><a href="/funcpred/gene_search">Advanced gene search</a></p>
        </div>
        <div class="col-md-6">
		<h2>Search by function</h2>
		<p><a href="/funcpred/browse_functions">Browse functions</a></p>
		<p><a href="/funcpred/function_search">Advanced function search</a></p>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-6">
	  <h3>Please cite</h3>
	   <strong><a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-017-1535-x">In silico prediction of lncRNA function using tissue specific and evolutionary conserved expression.</a></strong>
	   <p><i>Perron U, Provero P, Molineris I.</i> BMC Bioinformatics. 2017 Mar 23;18(Suppl 5):144. doi: 10.1186/s12859-017-1535-x.</p>
	  <a href="http://www.hsr.it/research/organization/divisions-centers/center-for-translational-genomics-and-bioinformatics/"><img width="48%" src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Logo_HSR.png"></a>
	  <a href="http://www.mbc.unito.it/en/research/research-areas/basic-and-applied-research/unita-di-biologia-computazionale"><img width="48%" src="http://www.mbc.unito.it/sites/x027/files/logo_unito.jpg"></a>
       </div>
        <div class="col-md-6">
	  <h3>Any questions?</h3>
	  	<script type="text/javascript">
			document.write("<a href=\"mail" + "to:" + new Array("ivan.molineris","unito.it").join("@") + "\">" + '<button type="button" class="btn btn-info">Feel free to contact the authors!</button>' + "</" + "a>");
			</script>
        </div>
      </div>

      <hr>
{% endblock%}
