{% extends "base.html" %}
{% load static from staticfiles %}

{% block main %}



<div>
	<h1>Function search</h1>
	<ul>
		<li>function: <strong>{{function_search.function}}</strong></li>
		<li>expression sources:
			{%for e in exp_sources%}
			<strong>{{e}}</strong>,
			{%endfor%}
		</li>
		<li>biotype: <strong>{{function_search.biotype|default:"all"}}</strong>
		</li>
	</ul>
</div>

<table id="data_table" class="display" width="100%" cellspacing="0" data-order_col="5">
	<thead>
		<tr>
			<th>gene id</th>
			<th>gene name</th>
			<th>biotype</th>
			<th>description</th>
			<th>fdr</th>
			{%for v in exp_sources %}
			<th>{{v}}</th>
			{%endfor%}
		</tr>
	</thead>
	<tbody>
{% for row in data%}
	<tr>
		<td>{{row.gene.ensg}}</td>
		<td>{{row.gene.name}}</td>
		<td>{{row.gene.biotype}}</td>
		<td>{{row.gene.description}}</td>
		<td>{{row.best_fdr}}</td>
		{%for v in row.exp_sources %}
			<td>{% if v %} &#11035; {%endif%}</td>
		{%endfor%}
	</tr>
	{%endfor%}
	</tbody>
</table>

{% endblock%}
