{% extends "base.html" %}
{% load static from staticfiles %}

{% block main %}



<div>
	<h1>Gene search</h1>
	<ul>
		<li>gene: {{gene_search.gene}}</li>
		<li>expression sources:
			{{gene_search.expression_source.all.0}}
		</li>
		<li>ontologies:
			{{gene_search.ontology.all.0}}
		</li>
	</ul>
</div>

<table id="data_table">
	<thead>
		<tr>
			<th>function</th>
			<th>FDR</th>
			<th>cioa</th>
			<th>cioa</th>
		</tr>
	</thead>
	<tbody>
{% for row in data%}
	<tr>
		{%for k,v in row.iteritems %}
			<td>{{v}}</td>
		{%endfor%}
	</tr>
	{%endfor%}
	</tbody>
</table>

{% endblock%}
