{% extends "base.html" %}
{% block main %}



<div>
	<h1>Gene search</h1>
	<ul>
		<li>gene: <strong>{{gene_search.gene}}</strong></li>
		<li>expression sources:
			{%for e in exp_sources%}
			<strong>{{e}}</strong>,
			{%endfor%}
		</li>
		<li>function categories:
			{%for o in gene_search.ontology.all%}
				<strong>{{o}},</strong>
			{% empty %}
				<strong>All</strong>
			{%endfor%}
		</li>
	</ul>
</div>

<table id="data_table" class="display" width="100%" cellspacing="0">
	<thead>
		<tr>
			<th>keyword</th>
			<th>category</th>
			<th>description</th>
			<th>fdr</th>
			{%for v in exp_sources %}
			<th>{{v}}</th>
			{%endfor%}
		</tr>
	</thead>
	<tbody>
{% for row in data%}
	<tr>
		<td>{{row.function.keyword}}</td>
		<td>{{row.function.ontology}}</td>
		<td>{{row.function.description}}</td>
		<td>{{row.best_fdr}}</td>
		{%for v in row.exp_sources %}
			<td>{% if v %} &#11035; {%endif%}</td>
		{%endfor%}
	</tr>
	{%endfor%}
	</tbody>
</table>

{% endblock%}
